# macOS
.DS_Store

# Compiled Files
dst/*.js*
dst/*.css*
dst/data

# modules
node_modules

# archives and left over code (local only, please)
archive

# Ignore generated forces from GlyphsApp for now
forces.json

# Ignore font files
**/*.eot
**/*.woff
**/*.woff2
!dst/bundle*
!dst/*.woff
!dst/*.eot
!dst/*.ttf
