@import './fonts.css';
@import './overlay.css';

body {
  background-color: black;
  height:100vh;
  overflow-y: hidden;
}

.container {
  display: block;
  margin-bottom: 1rem;
}

.flex-container {
  display:flex;
  max-width: calc(100vw - 2rem);
  flex-wrap:wrap;
}

.style {
  color:white;
  margin-right:1rem;
  margin-bottom:1rem;
  border:1px solid white;
  border-radius:4px;
  padding:0.5rem;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
  font-size: 1.75rem;

  text-align: center;
  width:3rem;
  height:3rem;

  padding-left:0.25em;
  padding-right:0.25em;
  margin-right:1rem;
  margin-bottom:1rem;
  border:1px solid white;
  border-radius:4px;

  background-color:black;

  cursor:pointer;
}

.key:not(.inactive):hover, .active {
  background-color:white;
  color:black;
}

.key.untouched {
  border-color:#353535;
  color:#353535;
  background-color: transparent;
}

.flashing {
  animation-name: flashing;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1); /* quad easing */
}

@keyframes flashing {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}
